.add-content {
  max-width: 600px;
  margin: 0 auto;
}

.add-content .input-container input {
  width: 100%;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  color: var(--text-light);
  font-size: 1.25rem;
}

.add-content .input-container input::placeholder {
  color: var(--text-dark);
}

.results {
  margin: 20px;
  height: 80vh;
  overflow: auto;
}

.add-content h2 {
  color: var(--text-dark);
}

@media (max-width: 768px) {
  .results {
    padding: 0;
  }

  .result-card .info .controls {
    display: flex;
    flex-direction: column;
  }

  .result-card .info .controls .button {
    margin: 10px 0px 0;
  }

  .add-content h2 {
    font-size: 18px;
    font-weight: bold;
  }
}