.result-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.result-card .poster-wrapper img,
.filler-poster {
  width: 75px;
  height: 113px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}



.result-card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

@media (max-width: 767px) {
  .result-card .info {
    flex: 2;
  }

  .poster-wrapper {
    flex: 1;
  }

  .result-card {
    justify-content: space-between;
    align-items: end;
  }
}

.result-card .heading .title {
  font-size: 20px;

}

.result-card .info .year {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--text-dark);
  margin: 10px;
}

.result-card .controls button {
  margin-right: 10px;
}