/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

/* Css Custom Variables */
:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: #fff;
  --transition: all 0.3s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.button {
  padding: 10px 20px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: var(--transition);
  line-height: 1.1;
}

.button:hover {
  background-color: #1aa762;
  opacity: 1;
  cursor: pointer;
}

.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

.navbar {
  background-color: var(--primary);
}

.navbar a {
  color: var(--white) !important;
  font-size: 1.25rem;
  transition: var(--transition);
}

.navbar a:hover {
  opacity: 0.7;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem!important;
}